:root{
    --main-color: #0dcaf0;
    --error-color: #e74c3c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    
}

body{
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    display: flex;
    justify-content: center;
    align-items: center;
}

#bodyspan{
    width: 1000px;
    display: flex;
    background-color: white;
    border-radius: 5px;
}

#information{
    width: 100%;
    padding: 10px;
}

#information h2{
    text-align: center;
    padding: 10px;
}

#information #image{
    margin: auto;
    display: block;
}

#image #anhbia{
    width: 100%;
    display: flex;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#ava_user{
    display: flex;
    justify-content: space-around;
}

#ava_user #avatar{
    top: -50px;
    left: 5%;
    width: 20%;
    min-width: 150px;
    max-width: 200px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

#ava_user #username{
    width: 60%;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}


#information hr{
    margin: auto;
    top: -25px;
    width: 60%;
    align-self: center;
    border: none;
    height: 2px;
    background-color: var(--main-color);
}

/*---------------------------------------------------------------------------------*/
#span{
    width: 90%;
    display: flex;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
}

#sidebar{
    width: 25%;
    padding: 5px;
    display: block;
}

.nav-item{
    margin: 10px 0px;
}

.tab-content{
    padding: 10px;
    width: 75%;
    border-left: 2px outset var(--main-color);
}



#info_table{
    padding: 10px;
}

.info_line{
    display: flex;
    padding: 10px;
    line-height: 25px;
    border-top: 1px solid #6be1f8;
}
.info_line:hover{
    background-color: rgb(236, 248, 248);
}
.info_title{
    width: 20%;
    padding-left: 20px;
    color: rgb(160, 153, 153);
}
.info_data{
    width: 80%;
    padding-left: 20px;
    font-weight: bold;
    color: #02b0c7;
}

.btn-repair{
    margin-top: 10px;
    padding: 5px 16px;
    border: 2px solid var(--main-color);
    background-color: #e1e7ff;
    color: #657ef8;
    border-radius: 20px;
    font-weight: bold;
    width: 30%;
    text-align: center;
}

.btn-repair:hover{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

#history thead{
    background-color: rgb(223, 248, 248);
}

#form_pass{
    margin: auto;
    color: #1995ad;
    width: 70%;
}

#form_pass input:focus{
    background-color: rgb(236, 248, 248);
}


@media screen and (max-width: 1000px){
    #span{
        width: 95%;
    }
}

@media screen and (max-width: 700px){
    #information{
        padding: 5px 3px;
    }
    #ava_user{
        padding: 20px;
    }
    #ava_user #username{
        margin: auto;
        top: -30px;
    }
    
    #information hr{
        top: -20px;
        width: 90%;
        margin: auto;
    }
    #span{
        width: 100%;
        display: block;
    }
    #sidebar{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .tab-content{
        width: 100%;
        border-left: none;
    }
    #info_table{
        padding: 0;
    }
}

@media screen and (max-width: 460px){
    #ava_user{
        display: block;
        text-align: center;
        padding: 0;
    }
    #ava_user #avatar{
        left: 0;
    }
    #ava_user #username{
        margin: auto;
        top: -40px;
    }
    
    #information hr{
        top: -30px;
        width: 90%;
        margin: auto;
    }
    .info_title{
        padding-left: 2px;
    }
}