#wr-footer {
    width: 100%;
    background-color: var(--bs-gray-400);
    min-height: 100px;
}

.footer {
    padding: 10px;
    justify-content: space-between;
    text-align: center;
}

.about-us {
    flex: 40%;
}

.contact {
    flex: 40%;
}