@media only screen and (max-width: 575px) {
    .product_image_inner {
        width: 100%;
    }

    .product_body_inner {
        width: 100%;
        --bs-gutter-x: 0px;
    }

    .product_image_info {
        padding-left: 20px;
    }

    .product_info {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    .product_info_button {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .product_image_inner {
        width: 100%;
    }

    .product_body_inner {
        width: 100%;
        --bs-gutter-x: 0px;
    }

    .product_image_info {
        padding-left: 20px;
    }

    .product_info {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }

    .product_info_button {
        width: 100%;
    }

    .rating {
        margin-bottom: 40px;
    }
}