@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root{
    --main-color: #2691d9;
    --error-color: #e74c3c;
    --cart-color: #2691d9;
    --info-color: #ffa200; 
    --bill-color: #05b805; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto';
}

#header{
    border-bottom: 1px solid black;
    margin-bottom: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

#header-1{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2px 30px;
}

#header-2{
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
}

#header-2-right{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
#header-2-right a{
    text-decoration: none;
    display: block;
    color: black;
    margin: 5px;
}
#header-2-right a:hover{
    text-decoration: underline;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-span{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3px;
}

#cart-span{
    width: 65%;
    color: var(--cart-color);
    padding: 10px 0;
    border: 3px solid var(--cart-color);
    border-radius: 5px;
    transition: 0.7s;
}

#cart-span .title{
    text-align: center;
}

#cart-span .title>hr{
    width: 100px;
    margin: auto;
    height: 2px;
    background-color: var(--cart-color);
    margin-bottom: 20px;
}

#cart-content{
    max-height: 80vh;
    overflow: auto;
}

#cart{
    width: 100%;
}

/* ----------- CART_ITEM ----------------------*/
#cart-header{
    color: black;
    font-size: 17px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
#cart-header>.cart-item{
    padding: 8px 0;
    border-bottom: 2px solid var(--cart-color);
    border-top: 2px solid var(--cart-color);
}

#cart-header .first{
    width: 12.5%
}
#cart-header .second{
    width: 40%;
    border-left: 1px solid rgb(172, 196, 201);
    border-right: 1px solid rgb(172, 196, 201);
}
#cart-header .third{
    width: 30%;
    border-right: 1px solid rgb(172, 196, 201);
}
#cart-header .fourth{
    width: 10%;
}
/* ----------- CART_ITEM ----------------------*/
.cart-item{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--main-color);
    justify-content: space-evenly;
    background-color: rgb(249, 248, 248);
}
.cart-item:hover{
    background-color: #dae7f2;
}

.cart-item .image{
    width: 12.5%;
    padding: 5px 0px;
}
.cart-item .image img{
    width: 100%;
}
.cart-item .product-info{
    width: 40%;
    padding: 10px;
    border-left: 1px solid rgb(172, 196, 201);
    border-right: 1px solid rgb(172, 196, 201);
    display: flex;
    flex-direction: column;
}

.product-name{
    flex-grow: 1;
    width: 100%;
    font-size: 17px;
    color: rgb(33, 151, 0);
}

.product-number{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.product-price{
    width: 40%;
    font-size: 17px;
}

.product-quantity{
    width: 40%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.product-quantity .data{
    margin: 0 8px;
}

.product-quantity .quantity-btn{
    transition: 0.3s;
}

.product-quantity .quantity-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.cart-item .money{
    width: 30%;
    border-right: 1px solid rgb(172, 196, 201);
    font-size: 20px;
    color: red;
}

.cart-item .money div>span{
    font-size: 13px;
    color: black;
}

.cart-item .delete{
    width: 10%;
    font-size: 25px;
    color: black;
}
.cart-item .delete i{
    transition: 0.5s;
}
.cart-item .delete i:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: var(--error-color);
}


/* ---------------------------------------------------------*/
#feedback{
    width: 30%;
    transition: 0.7s;
}

#info-span{
    border: 3px solid var(--info-color);
    border-radius: 10px;
    padding: 10px;
    color: var(--info-color);
    margin: 20px 0 20px;
    transition: 0.7s;
}

#info-line{
    margin: 10px;
    display: flex;
    align-items: center;
}

#info-line label{
    width: 30%;
}
#info-line input, #info-line textarea{
    width: 70%;
    padding: 5px 10px;
    border: 2px solid var(--info-color);
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
    font-size: 15px;
    color: var(--info-color);
}
#info-line input:focus, #info-line textarea:focus{
    padding: 5px 15px;
}

#info-line textarea{
    resize: none;
}

/* ---------------------------------------------------------*/
#bill-span{
    border: 3px solid var(--bill-color);
    border-radius: 10px;
    padding: 10px;
    color: var(--bill-color);
    font-size: 17px;
    transition: 0.7s;
}

#bill-span hr{
    background-color: var(--bill-color);
    height: 2.5px;
    border-radius: 50px;
    margin: 15px 0px;
}

.bill-line{
    margin: 3px 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bill-line:hover{
    background-color: #bbffbb;
}

#all-bill{
    font-size: 23px;
    font-weight: 500;
}

.payment-btn{
    text-align: center;
    padding-top: 10px;
}

#payment-btn{
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--bill-color);
    color: white;
    width: 70%;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s;
    font-weight: 400;
}
#payment-btn:hover{
    background-color: #05a505;
    color: white;
    transform: scale(1.04);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #cart-span{
        width: 100%;
        margin: 5px;
    }
    #feedback{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #feedback #bill-span, #feedback #info-span{
        width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    #feedback #bill-span{
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    #feedback #bill-span, #feedback #info-span{
        width: 90%;
    }
}