.gradien {
    height: 100%;
    background: linear-gradient(128deg, #3ca7ee, #9b488f);
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:focus {
    border: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

body {
    overflow-anchor: none;
    background-color: rgb(245, 245, 250);
}

#header {
    top: 0;
    min-height: 95px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    background-color: white;
}

#header-1 {
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2px 30px;
}

#header-2 {
    background-color: white;
}

#header-2-bottom {
    border-bottom: 1px solid var(--bs-gray-400);
    position: relative;
    padding: 0px 40px;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}

#header-2-top {
    height: 32px;
    margin-right: 50px;
}

#header-2-top a {
    margin: 0 10px;
    font-size: 13px;
}

.logo {
    width: 100px;
}

.logo img {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 50%;
}

#main-menu-2-bottom button {
    margin: 0 10px;
    font-size: 15px;
    background-color: white;
    border: none;
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.detail-product {
    font-size: 14px;
    height: 70px;
    font-weight: bold;
    overflow: hidden;
    word-break: break-all;
}

#clear-search {
    position: absolute;
    display: none;
    right: 10px;
    top: 15px;
}

#slide-menu {
    position: fixed;
    width: 400px;
    height: 100%;
    right: -400px;
    top: 0px;
    background-color: white;
    z-index: 100;
    overflow-y: auto;
    transition: all 1s;
}

#slide-menu-header {
    text-align: end;
    height: 60px;
    width: 100%;
}

.menu-101 {
    font-size: 20px;
    width: 100%;
    text-align: left;
    display: inline-block;
}

button#btn-close-slide-menu {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 30px;
}

button#btn-close-slide-menu:hover {
    color: red;
}

#slide-menu-body {
    text-align: start;
}

ul.list-slide-menu {
    padding: 0;
}

.list-slide-menu>li>a {
    width: 100%;
    display: inline-block;
    padding-left: 10px;
}

.list-slide-menu>li>a:hover,
.list-slide-menu>li:hover,
.menu-101:hover {
    background-color: var(--bs-gray-300);
    text-decoration: none;
}

.active>a {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
}

button.menu-101 {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
}

#clear-search button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

button#btn-menu-slide {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    height: 65px;
    width: 65px;
    font-size: 45px;
}

#main-menu-2-bottom:hover a {
    color: black;
}

#search-wrapper {
    position: relative;
    padding: 8px 0px 8px 2px;
    width: 450px;
    z-index: 10;
}

#search-result ul {
    margin: none;
    padding: none;
    list-style: none;
}

#search-result {
    display: none;
    height: 200px;
    width: 450px;
    background-color: white;
    padding: 15px 0px 15px 0px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#search-result a {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
    padding: 5px 10px 5px 10px;
}

#search-result a:hover {
    background-color: var(--bs-gray-400);
}

button#cart {
    margin-left: 10px;
    background-color: white;
    border: none;
    height: 48px;
    width: 48px;
}

#cart i {
    font-size: 25px;
}

#form-search input {
    width: 450px;
    height: 40px;
    padding: 1px 35px 1px 10px;
}

#poster-content {
    position: relative;
    min-height: 10px;
}

#poster-content .container {
    padding: none;
}

.btn-thumb {
    position: absolute;
    bottom: 80px;
    left: 50px;
}

#all-page {
    min-height: 1200px;
    margin-top: 30px;
    background-color: white;
}

a.btn-kham-pha {
    display: inline-block;
    width: 210px;
    height: 50px;
    line-height: normal;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
}

.box-shadow-thumb {
    position: absolute;
    width: 210px;
    height: 50px;
    bottom: 75px;
    left: 55px;
    background-color: none;
    border: 1px solid white;
    padding: 10px 20px;
}

a.btn-kham-pha:hover {
    color: var(--bs-gray-600);
}

#h3-1 {
    font-weight: 600;
}

.center {
    text-align: center;
}

.text-thumb-1 {
    display: inline-block;
    width: 300px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 35px;
    position: absolute;
    bottom: 200px;
    left: 50px
}

.text-thumb-2 {
    display: inline-block;
    width: 300px;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 150px;
    left: 50px
}

.menu-1 {
    margin-top: 20px;
}

.menu-1 a {
    font-weight: 500;
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 2px;
    border: 1px solid var(--bs-gray-500);
}

.menu-1 a:hover {
    border: 1px solid black;
}

.video-poster-content video {
    width: 100%;
    height: 100%;
}

a#menu-opt-1:hover,
a#menu-opt-2:hover,
a#menu-opt-3:hover,
a#menu-opt-4:hover,
a#menu-opt-5:hover {
    border: 1px solid black;
}

.component-wrapper-1 {
    margin-bottom: 20px;
    padding-top: 30px;
}

#drop-down {
    display: none;
    width: 100%;
    min-height: 350px;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 104px;
    border-top: 1px solid black;
}

#drop-down a:hover {
    text-decoration: underline;
}

.drop-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
}

.component-wrapper-113 {
    padding: 5px 80px;
    justify-content: space-between;
}

.wrapper-product a {
    text-decoration: none;
}

.wrapper-product {
    display: block;
    width: 20%;
    height: 350px;
    overflow: hidden;
    position: relative;
    margin: 5px 0px;
    transition: all 1s;
}

.wrapper-product:hover {
    border: 1px solid black;
}

.img-product-wrapper {
    position: relative;
    margin: 0px auto 10px auto;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.img-background,
.img-product {
    position: absolute;
}

.img-product img,
.img-background img {
    width: 100%;
    transition: all 1s;
}

.wrapper-product:hover img {
    scale: 1.2;
}

.content-product {
    padding: 5px 12px;
}

.danh-gia {
    color: rgb(120, 120, 120);
    line-height: normal;
    font-size: 11px;
}

.price {
    font-weight: bold;
}

.mobile-menu {
    display: none;
}

.wrapper-product-list {
    display: flex;
    flex-wrap: wrap;
}

#title-popular {
    width: 100%;
    word-break: normal;
    min-height: 50px;
}

@media only screen and (max-width: 768px) {
    #header-2 {
        display: none;
    }
    .mobile-menu {
        position: relative;
        display: flex;
        background-color: white;
        width: 100%;
        height: 85px;
        justify-content: space-between;
    }
    .logo img {
        position: absolute;
        top: 2px;
        left: 40%;
    }
    .text-thumb-1,
    .text-thumb-2 {
        display: none;
    }
    .wrapper-product {
        width: 50%;
    }
}